@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  .banners,.banner,.banne,.ban{
    display: flex;
  }
  .ok{
    list-style: none;
    margin-right: 20px;
  }
  .ba{
    text-decoration: none;
  }
.banners{
    /* max-width: 900px; */
    justify-content: space-between;
    height: 62px;
    align-items: center; 
    margin: 0 auto;
    
}

.b{
    /* width: 1100px; */
    /* height: 102px; */
}
.banner{
    margin-left: 20px;
}
.dom{
    background-color: orange;
    border-radius: 3px;
    color: white;
    width: 150px;
    height: 40px;
    border-style: none;
}
.ban{
    width: 387px;
}
.little{
    display: flex;
    /* height: 575px; */
     align-items: center;
     justify-content: space-between; 
}
.litt{
    /* width: 640px; */
    /* height: 320px; */
    margin-left: 40px;
}
.str{
    width: 450px;
    height: 450px;
}
.opp{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    background-color: bisque;
     padding-top: 60px;
     width: 100%;
     max-width: 1240px;
}
.pop{
    width: 400px;
    height: 500px;
    border-radius: 30px;
    font-size:20px ;
    background-color: white;
    text-align: center;
    border: 2px solid;
     margin-left: 50px;
    border-style: none;
    

}
.dd{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.tt{
    width: 250px;
    height: 260px;
    border-radius: 30px;
    border: 2px solid;
    background-color: white;
    text-align: center;
    margin-right: 40px;
    border-style: none;
}
img{ 
    border-radius: 30px;
}
 .tt > img{
    width: 240px ;
    
}
.qw{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1230px;
    margin-top: 70px;
    margin-bottom: 70px;
    background-color: rgba(161, 133, 186, 0.877);
}
.qe{
    width: 280px;
    height: 300px;
    border: 5px solid;
    text-align: center;
    padding-top: 60px;
    border-style: none;
    border-radius: 5px;
   background-color: white;
    transition: transform:0.3s ease-in-out;
    margin:50px 20px 50px ;

}
















@media screen and( max-width:768px){
    .little,
    .litt,
    .str
    .strong
    .banners
    .tt
    .pop
    .dd{
        flex-direction: column;
        height: auto;
        align-items: center;
        display: flex;

    }
    
}